<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.weishe.weichat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="org.weishe.weichat.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.weishe.weichat.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.RegisterActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.ChatActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.QrCodeActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.SearchActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.UserInforActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.GroupActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.AddChatGroupActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.FriendsGroupSelectorActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.ErcodeScanActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.WaterCameraActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.WaterPhotoActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.GroupInforActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="org.weishe.weichat.activity.imagefactory.ImageFactoryActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <service android:name="org.weishe.weichat.service.Session" >
            <intent-filter>
                <action android:name="org.weishe.weichat.session" />
            </intent-filter>
        </service>

        <receiver android:name="org.weishe.weichat.receiver.TodoBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.weishe.action.todo.handing" >
                </action>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55e3ebf9e0f55ad135001ea6" >
        </meta-data>

        <!--&lt;!&ndash; ############ QQ空间和QQ SSO授权的Activity注册 ############ &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.tencent.tauth.AuthActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:noHistory="true" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--&lt;!&ndash; 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID &ndash;&gt;-->
                <!--<data android:scheme="tencent100424468" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name="com.tencent.connect.common.AssistActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" >-->
        <!--</activity>-->
    </application>
    <!--&lt;!&ndash; 记住这个一要放在application外面，不然会出现配置错误 信息 &ndash;&gt;-->
    <!--<instrumentation-->
        <!--android:name="android.test.InstrumentationTestRunner"-->
        <!--android:label="Tests for My App"-->
        <!--android:targetPackage="org.weishe.weichat.test" />-->

</manifest>